body {
    font-family: Arial, sans-serif;
    background-color: #a52222;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div {
    color: rgb(69, 212, 34);
    border-radius: 50%;
    margin: 2px;
    padding: 10% 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 7vw;
    text-align: center;
    font-family: "Calibri", sans-serif;
    text-shadow: -3px -2px 3px rgb(0, 0, 0);
    margin: 5%;
}

h2 {
    margin: 3%;
    text-align: center;
    font-size: 3vw;
    font-family: "Calibri", sans-serif;
    text-shadow: -1px -1px 2px rgb(0, 0, 0);
    background: transparent;
}

button {
    margin: 3vw 20vw 3vw 20vw;
    padding: 3%;
    font-size: 3vw;
    border: 2px solid black;
    background-color: #f4f4f4;
    color: #eb0a0a;
    border-radius: 1vw;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: azure;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #500707;
}

#pic {
    background-image: url(../images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5.5% 10% 7% 10%;
    margin-top: 15%;
    border-radius: 10px;
  }

@media only screen and (max-width:700px) 
{
   
}

@media only screen and (min-width:1366.1px) 
{
   
}