body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

#notes-container {
  margin-top: 20px;
}

#note-input{
  padding: 0%;
}

.note {
  background-color: #e9e9e9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
}

.note span {
  max-width: 95%;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.remove-icon {
  color: #d9534f;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

.remove-icon:hover {
  color: #c9302c;
}
