body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(../bg-green.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150vh;
  margin-top: 1vw;
}

#pic {
  background-image: url('../fundraising-calendar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5% 10%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ca2929;
  text-align: center;
  text-shadow: -1px -1px 3px #64a35c;
}

#title {
  font-size: 2.5em;
  text-shadow: -3px -2px 3px rgba(0, 0, 0, 0.5);
}

.main-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: calc(100% - 20px);
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:active{
  background-color: #021e3b;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

@media (max-width: 700px) {
  #pic {
      padding: 10% 5%;
  }

  #title {
      font-size: 2em;
  }

  .main-box {
      width: 90%;
      max-width: none;
  }
}
